body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    align-items: flex-start;
    width: 800px;
  }
  
  .menu {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list li {
    padding: 10px 0;
    transition: background-color 0.3s;
    margin: 2px;
    border: 1px solid #dee3e7;
    background-color: #dee3e7;
    border-radius: 3px;
    color: #85959e;
  }
  
  .menu-list li:hover {
    background-color: aqua;
  }
  
  .menu-list a {
    text-decoration: none;
    color: #333;
  }
  

  
  .menu-content {
    flex: 1;
    padding: 20px;
    width: 800px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-left: 20px;
  }
  
  .menu-content p {
    margin-top: 0;
    color: blue;
  }
  .menu-list li a {
    color: #013e64;
    text-decoration: none;
  }
  